@font-face {
    font-family: SurvivorFont;
    src: url("../fonts/survivant.ttf");
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url("../images/background04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* HEADER - LOGO */
header {
  width: 100%;
  font-family: SurvivorFont;
  font-size: 40pt;
  color: #FDFEFC;
  margin: 20px 0px;
}

header div {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

header div h1 {
  position: absolute;
  display: inline-table; /* make h1 content box as big as text */
  bottom: 45px;
  left: 70px;
  background-color: black;
  padding: 0px 30px;
  line-height: 39px;
}

header img {
  height: 95%;
  width: 95%;
}

/* GAME CONTENT */
.hidden {
  display: none;
}

.section {
  height: 400px;
}

.content {
  background-color: lightgrey;
  border: thin solid black;
  display: table;
  height: inherit;
  opacity: 0.9;
  font-family: SurvivorFont;
  font-size: 18pt;
  margin-bottom: 30px;
}

.middle-content {
  height: inherit;
}

/* GAME ON */
.middle-content .row {
  margin: 30px 0px;
}

#ready {
  font-size: 24pt;
}

.countdown {
  font-size: 80pt;
  border: thin solid black;
}

.glyphicon {
  position: absolute !important;
  right: 3px !important;
  cursor: pointer !important;
}
